/* morion-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Morion';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/morion-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/morion-600.otf') format('opentype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-300 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 300;
    src: url('../fonts/inter-v18-latin-300.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin-300.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-regular - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 400;
    src: url('../fonts/inter-v18-latin-regular.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin-regular.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-500 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 500;
    src: url('../fonts/inter-v18-latin-500.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin-500.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-600 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 600;
    src: url('../fonts/inter-v18-latin-600.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin-600.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}
/* inter-700 - latin */
@font-face {
    font-display: swap; /* Check https://developer.mozilla.org/en-US/docs/Web/CSS/@font-face/font-display for other options. */
    font-family: 'Inter';
    font-style: normal;
    font-weight: 700;
    src: url('../fonts/inter-v18-latin-700.woff2') format('woff2'), /* Chrome 36+, Opera 23+, Firefox 39+, Safari 12+, iOS 10+ */
    url('../fonts/inter-v18-latin-700.ttf') format('truetype'); /* Chrome 4+, Firefox 3.5+, IE 9+, Safari 3.1+, iOS 4.2+, Android Browser 2.2+ */
}

html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
    font-family: 'Inter', sans-serif;
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    color: #0f3233;
}
body {
    position: relative;
    overflow-y: scroll;
}

h1,
h2,
h3,
h4 {
    color: #0f3233;
}

h1 {
    font-family: 'Morion', sans-serif;
    font-size: 30px;
    line-height: 40px;
}

h2 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 40px;
    text-align: center;
    text-transform: uppercase;
    letter-spacing: 2px;
    color: #ac8f27;
}

h3 {
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 30px;
    font-family: 'Morion', sans-serif;
    font-size: 25px;
    font-weight: 600;
    line-height: 35px;
    overflow: hidden;
    text-align: center;
    color: #0f3233;
}

@media only screen and (min-width: 992px) {
    h1 {
        font-size: 70px;
        line-height: 85px;
    }

    h3 {
        font-size: 40px;
        line-height: 50px;
    }
}

a {
    color: #0f3233;
    text-decoration: none;
}

a:hover,
a:focus {
    color: #0f3233;
}

p, li {
    hyphens: auto;
}

strong {
    font-style: normal;
    font-weight: 500;
}

em {
    color: #0f3233;
    font-style: normal;
    font-weight: 500;
}

hr {
    margin-top: 40px;
    margin-bottom: 40px;
    background-color: #0f3233;
    opacity: 1;
}

:focus {
    box-shadow: none !important;
}

.border-top {
    border-color: #0f3233 !important;
}

.border-bottom {
    border-color: #0f3233 !important;
}

.font-size-20 {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-transform: none;
}

.font-size-30 {
    font-size: 18px;
    font-weight: 300;
    line-height: 30px;
    text-transform: none;
}

.font-size-48 {
    font-family: 'Morion', 'sans-serif';
    font-size: 30px;
    font-weight: 600;
    line-height: 45px;
    text-transform: none;
}

.font-size-50 {
    font-family: 'Morion', 'sans-serif';
    font-size: 40px;
    font-weight: 600;
    line-height: 45px;
    text-transform: none;
}

@media only screen and (min-width: 992px) {
    .font-size-20 {
        font-size: 20px;
        font-weight: 300;
        line-height: 32px;
        text-transform: none;
    }

    .font-size-30 {
        font-size: 30px;
        font-weight: 300;
        line-height: 50px;
        text-transform: none;
    }

    .font-size-48 {
        font-family: 'Morion', 'sans-serif';
        font-size: 48px;
        font-weight: 600;
        line-height: 65px;
        text-transform: none;
    }

    .font-size-50 {
        font-family: 'Morion', 'sans-serif';
        font-size: 50px;
        font-weight: 600;
        line-height: 50px;
        text-transform: none;
    }
}

.ls-1 {
    letter-spacing: 1px;
}

.ls-2 {
    letter-spacing: 2px;
}

.lh-24 {
    line-height: 24px;
}

.lh-28 {
    line-height: 28px;
}

.bg-dark-beige {
    background-color: #F7eed6;
}

.bg-beige {
    background-color: #fcf7ea;
}

.bg-green {
    background-color: #034B46;
    opacity: 0.95;
}

.btn {
    font-size: 16px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: 2px;
}

.btn-primary {
    padding-top: 0;
    padding-bottom: 0;
    height: 40px;
    min-width: 200px;
    font-size: 16px;
    line-height: 40px;
    text-transform: uppercase;
    letter-spacing: 2px;
    border: none;
    border-radius: 40px;
    background-color: #0f3233;
    color: #ffffff;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #0f3233;
    box-shadow: none;
}

.btn-outline-primary {
    width: 100%;
    min-width: 120px;
    max-width: 150px;
    border: 1px solid #ffffff;
    border-radius: 20px;
    color: #ffffff;
}

@media only screen and (min-width: 992px) {
    .btn-outline-primary {
        width: 150px;
    }
}

.btn-outline-primary:hover,
.btn-outline-primary:active,
.btn-outline-primary:focus,
.btn.btn-outline-primary:first-child:active {
    border-color: #ffffff;
    background-color: #ffffff;
    color: #0f3233;
}

.btn-outline-secondary {
    width: 100%;
    min-width: 120px;
    max-width: 150px;
    border: 1px solid #034b46;
    border-radius: 20px;
    color: #0f3233;
}

.btn-outline-secondary:hover,
.btn-outline-secondary:active,
.btn-outline-secondary:focus,
.btn.btn-outline-secondary:first-child:active{
    border-color: #034b46;
    background-color: #034b46;
    color: #ffffff;
}

@media only screen and (min-width: 992px) {
    .btn-outline-secondary {
        width: 150px;
    }
}

.carousel-control.left {
    background-image: none;
}

.carousel-control.right {
    background-image: none;
}

.carousel-control {
    top: 50%;
    left: 0;
    width: 50px;
    margin-top: -25px;
}

.carousel-control-prev {
    position: relative;
    width: 30px;
    height: 30px;
    transition: none;
}

.carousel-control-next {
    position: relative;
    width: 30px;
    height: 30px;
    transition: none
}

.carousel-control-next-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 30 30'%3E%3Ccircle fill='%23ac8f27' cx='15' cy='15' r='15'/%3E%3Cg%3E%3Cpath fill='%23fff' d='M13.0919921,7.380944l-1.8,1.8,5.822,5.8199999-5.822,5.8220005,1.8,1.8000002,7.6169999-7.6220007-7.6169999-7.6199999Z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' version='1.1' viewBox='0 0 30 30'%3E%3Ccircle fill='%23ac8f27' cx='15' cy='15' r='15'/%3E%3Cg%3E%3Cpath fill='%23fff' d='M9.291008,15.0009438l7.6169999,7.6220007,1.8-1.8000002-5.822-5.8220005,5.822-5.8199999-1.8-1.8-7.6169999,7.6199999Z'/%3E%3C/g%3E%3C/svg%3E");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
}

.carousel-indicators {
    margin-bottom: -40px;
}

.carousel:hover .carousel-control-prev {
    transition: all 3s ease;
}

.carousel:hover .carousel-control-next {
    transition: all 3s ease;
}

.carousel-indicators [data-bs-target] {
    width: 8px;
    height: 8px;
    border-radius: 100%;
    border: 1px solid #f7eed6;
    background-color: #f7eed6;
    opacity: 1;
}

.carousel-indicators [data-bs-target].active {
    border: 1px solid #ac8f27;
    background-color: #ac8f27;
}

/* Navigation */
nav {
    box-shadow: 0 3px 6px #00000029;
}

nav.navbar {
    margin-bottom: 0;
    padding: 0;
    border: 0;
}

nav.navbar .navbar-brand {
    padding-top: 15px;
    padding-bottom: 15px;
}

nav.navbar .navbar-toggler {
    border: none;
    z-index: 2000;
}

nav.navbar .navbar-toggler  span {
    width: 20px;
    height: 20px;
    background-image: url(../images/juno_menu_open.svg);
    background-size: 20px 20px;
}

nav.navbar .navbar-toggler:not(.collapsed) span  {
    width: 20px;
    height: 20px;
    background-image: url(../images/juno_menu_close.svg);
    background-size: 20px 20px;
}

nav.navbar .navbar-collapse {
    justify-content: flex-end;
}

.navbar-nav {
    margin-top: 30px;
}

.navbar-nav .nav-link {
    font-family: 'Inter','sans-serif';
    font-weight: 700;
    padding-top: 0;
    padding-bottom: 0;
    font-size: 30px;
    line-height: 50px;
    letter-spacing: 2px;
    color: #ffffff !important;
}

.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:active,
.navbar-nav .nav-link:focus,
.navbar-nav .nav-link.active {
    color: #ffffff !important;
}

.navbar-nav .btn {
    width: 250px;
}

.navbar-light .navbar-toggler:focus {
    box-shadow: none;
}

@media (min-width: 576px) {
    .navbar-nav {
        margin-top: 30px;
    }

    .nav-link {
        font-size: 30px;
        line-height: 50px;
    }
}

@media (min-width: 992px) {
    nav.navbar .navbar-brand {
        padding-top: 30px;
        padding-bottom: 30px;
    }

    .navbar-nav .nav-link {
        font-size: 50px;
        line-height: 80px;
    }
}

.navbar-nav .nav-link:nth-child(5) {
    padding-right: 0;
}

.navbar-collapse .navbar-nav {
    margin-top: 0;
    margin-bottom: 30px;
}

.navbar-nav .nav-link {
    padding-top: 0.25rem;
    padding-bottom: 0.25rem;
    text-align: center;
}

.navbar .navbar-collapse {
    display: flex;
    flex-direction: column;
    align-content: center;
    position: fixed;
    overflow-x: hidden;
    overflow-y: scroll;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    text-align: center !important;
    background: #034b46;
    opacity: 0;
    transition: opacity 0.35s ease;
}

.navbar .navbar-collapse.collapse {
    display: flex;
    opacity: 0;
    pointer-events: none;
    z-index: 2;
}

.navbar .navbar-collapse.collapsing[style*="height"] {
    height: 100vh !important;
    opacity: 1;
}

.navbar .navbar-collapse.collapse.show {
    pointer-events: all;
    opacity: 1;
}

.navbar .navbar-collapse.collapsing {
    height: 100vh;
    opacity: 0;
}

.navbar .navbar-collapse .navbar-nav {
    margin-top: 100px;
    margin-right: initial !important;
    margin-bottom: auto
}

@media (min-width: 992px) {
    .navbar .navbar-collapse .navbar-nav {
        margin-top: 145px;
    }
}

.navbar .navbar-collapse .navbar-nav .nav-link {
    font-family: 'Morion', 'sans-serif';
    color: #ffffff !important;
}

.navbar .navbar-collapse .navbar-nav .nav-link:hover,
.navbar .navbar-collapse .navbar-nav .nav-link:active {
    color: #0f3233 !important;
}

/* Hero and Header */
#hero {
    position: relative;
    margin-top: 60px;
}

#hero picture img {
    position: relative;
    width: 100%;
}

#hero .siegel {
    position: absolute;
    bottom: -50px;
    left: 50%;
    width: 100px;
    height: 100px;
    margin-left: -50px;
    z-index: 1;
}

#header {
    background-color: #034B46;
    opacity: 0.95;
}

#header span.text-uppercase {
    font-size: 16px;
}

@media only screen and (min-width: 992px) {
    #hero {
        position: relative;
        display: block;
        margin: 90px auto 0;
        width: 100%;
        height: calc(100vh - 90px);
        z-index: 1;
    }

    #hero picture img {
        position: fixed;
        left: 50%;
        transform: translateX(-50%);
        top: 90px;
        width: auto;
        height: calc(100vh - 90px);
    }

    #hero .siegel {
        position: fixed;
        top: 135px;
        left: unset;
        right: 45px;
        width: 130px;
        height: 130px;
        margin-left: auto;
        z-index: 1;
    }

    #header {
        position: relative;
        width: 100%;
        height: calc(100vh - 90px);
        z-index: 2;
    }

    #header span.text-uppercase {
        font-size: 18px;
    }

    article {
        position: relative;
        background-color: #ffffff;
        z-index: 2;
    }
}


/* Intro */
#intro .line {
    display: block;
    margin: 20px auto;
    width: 2px;
    height: 50px;
    background-color: #0f3233;
}

/* Leistungen */
#leistungen .accordion-item {
    border-top: 1px solid #0f3233;
}

#leistungen .accordion-flush .accordion-item:last-child {
    border-bottom: 1px solid #0f3233;
}

#leistungen .accordion-button {
    height: 64px;
    padding-left: 0;
    padding-right: 0;
    font-size: 16px;
    font-weight: 500;
    line-height: 24px;
    background-color: #ffffff;
    color: #0f3233;
    text-transform: uppercase;
    transition: none;
}

#leistungen .accordion-button:focus {
    box-shadow: none;
}

#leistungen .accordion-button::after {
    display: inline-block;
    width: 20px;
    height: 20px;
    background-image: url('../images/icon_plus.svg');
    background-repeat: no-repeat;
    background-size: 20px 20px;
    background-position-x: 0;
    background-position-y: 0;
    background-color: #ffffff;
    transition: transform 0.2s ease-in-out;
    transform-origin: center center;
    content: " "
}

#leistungen .accordion-button[aria-expanded="true"],
#leistungen .accordion-button:hover {
    background-color: #ffffff;
    color: #0f3233;
}

#leistungen .accordion-button[aria-expanded="true"]::after,
#leistungen .accordion-button:hover::after {
    background-color: #ffffff;
    background-image: url('../images/icon_plus.svg');
    transition: transform 0.2s ease-in-out;
}

#leistungen .accordion-button:not(.collapsed) {
    box-shadow: none;
}

#leistungen .accordion-button:not(.collapsed)::after {
    background-image: url('../images/icon_minus.svg');
    background-position-x: 0;
    background-position-y: 0;
    transform-origin: center center;
    transform: rotate(-180deg);
}

@media only screen and (min-width: 576px) {
    #leistungen .accordion-button {
        padding-left: 0;
        font-size: 16px;
        line-height: 24px;
        letter-spacing: 2px;
    }

    #leistungen .accordion-button::after {
        width: 20px;
        height: 20px;
        background-position-x: 0;
        background-position-y: 0;
    }

    #leistungen .accordion-button:not(.collapsed)::after {
        background-position-x: 0;
        background-position-y: 0;
    }
}

/* Schritt */
#schritt .schritt {
    margin-top: -150px;
    width: 50% !important;
}

@media only screen and (min-width: 992px) {
    #schritt .schritt {
        position: absolute;
        right: 100px;
        margin-top: -150px;
        width: 60% !important;
    }
}

@media only screen and (min-width: 1200px) {
    #schritt .schritt {
        position: absolute;
        right: 100px;
        margin-top: -220px;
        width: 50% !important;
    }
}

/* Über uns */
#ueberuns a.download:before {
    position: relative;
    display: inline-block;
    width: 20px;
    height: 20px;
    background: url('../images/icon_arrow.svg') no-repeat;
    background-size: 20px 20px;
    vertical-align: middle;
    content: '';
}

#ueberuns a.download:hover:before,
#ueberuns a.download:active:before,
#ueberuns a.download:focus:before {
    background-image: url('../images/icon_arrow.svg');
}

#ueberuns .border-end {
    border-right-color: rgba(51, 85, 115, 0.3) !important;
}

@media only screen and (min-width: 992px) {
    #ueberuns > .container:last-of-type {
        margin-top: -70px;
    }
}

/* Impressum */
body.imprint h4 {
    font-size: 18px;
    font-weight: 500;
    line-height: 30px;
    letter-spacing: 2px;
    color: #0f3233;
    text-transform: uppercase;
}

body.imprint p {
    margin-bottom: 1.5rem;
}

#imprint {
    margin-top: 60px;
}

@media only screen and (min-width: 992px) {
    #imprint {
        margin-top: 90px;
    }
}

/* Footer */
footer {
    position: relative;
    height: 60px;
    font-size: 16px;
    line-height: 60px;
    background-color: #ffffff;
    z-index: 2;
}

footer p {
    font-size: 16px;
    font-weight: 400;
}

footer a,
footer a:hover,
footer a:focus {
    font-size: 14px;
    font-weight: 500;
    text-decoration: none !important;
    text-transform: uppercase;
    letter-spacing: 2px;
}

@media only screen and (min-width: 992px) {
    footer {
        height: 80px;
        line-height: 80px;
    }
}